body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin-bottom: 79px;
  background-color: #F3F5F7;
  height: 100vh;
}

li p {
  margin-bottom: 0;
}

.nav {
  --bs-nav-link-color: #595959;
  --bs-nav-link-hover-color: #0a58ca;
  --bs-nav-link-disabled-color: #6c757d;

}

.nav-tabs {
  border-bottom: var(--bs-nav-tabs-border-width) solid #696969 !important;
}

.nav-item .active {
  border-bottom: 2px solid rgb(49, 125, 255) !important;
  background-color: transparent !important;
  font-weight: bold;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.nav-item button {
  font-size: 11px;
}
