body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin-bottom: 79px;
  background-color: #F3F5F7;
}

li p {
  margin-bottom: 0;
}

.nav {
  --bs-nav-link-color: #595959;
  --bs-nav-link-hover-color: #468784;
  --bs-nav-link-disabled-color: #6c757d;
  --bs-nav-tabs-border-width: 0px;

}

.nav-tabs .active{
  background-color: #468784;
}

.nav-item .active {
  border-bottom: 2px solid #468784 !important;
  color: #468784;
  background-color: transparent !important;
  font-weight: bold;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.nav-item button {
  font-size: 0.9rem;
  color: #595959;
}

