.container-form {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  width: 750px;
}
.form_title{
  margin-bottom: 35px;
}
#problem_description{
  height: 90px;
}
