#maintenance{
  border:1px, solid, rgb(211, 19, 19);
}
.heading{
  padding: 20px;
}

.AddButton{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.wishlist-infos {
  width: 95%;
  p {
    word-wrap: break-word
  }
}

.wishlist-infos a{
  text-decoration: none;
//   font-size: 18px;
//   font-weight: bold;
}

.wishlist-infos h4{
  margin: 0;
}

.ListStyle{
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
