<nav class="navbar-bottom d-flex align-items-center border border-top-1 ">
  <ul>
    <%= link_to overview_index_path do %>
      <li>
        <i class="fa-solid fa-house"></i>
      </li>
    <% end %>
    <%= link_to vehicles_path do %>
      <li>
        <i class="fa-solid fa-car" style="font-size: 19px"></i>
      </li>
    <% end %>
    <%= link_to edit_user_registration_path do %>
      <li>
        <i class="fa-solid fa-user" style="font-size: 19px"></i>
      </li>
    <% end %>
  </ul>
</nav>
