
<div class="navbar-bottom d-flex">
      <div class= "navbar-item">
       <div>
          <i class="fa-solid fa-house"></i>
        </div>
        <%= link_to "Overview", root_path, class: "Vehicles-navbar-link"%>
      </div>
      <div class= "navbar-item">
        <div>
          <i class="fa-solid fa-warehouse"></i>
        </div>
        <%= link_to "Vehicles", vehicles_path, class:"Vehicles-navbar-link" %>
      </div>
      <div class= "navbar-item">
        <div>
          <i class="fa-solid fa-user"></i>
        </div>
        <%= link_to "Profile",  "#", class:"Vehicles-navbar-link" %>
      </div>

</div>
