<nav class="navbar-bottom d-flex align-items-center border border-top-1 ">
  <ul>
    <%= link_to overview_index_path do %>
      <li>
        <i class="fa-solid fa-house"></i>
        <p>Home</p>
      </li>
    <% end %>
    <%= link_to vehicles_path do %>
      <li>
        <i class="fa-solid fa-warehouse"></i>
        <p>My vehicles</p>
      </li>
    <% end %>
    <%= link_to '#' do %>
      <li>
        <i class="fa-solid fa-user"></i>
        <p>Profile</p>
      </li>
    <% end %>
  </ul>
</nav>
