.card-product {
  border-radius: 5px;
  overflow: hidden;
  height: 150px;
  background: F6F6F6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  margin: 12px;
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  flex-grow: 1;
}

.card-product-alart {
  margin-bottom: 110px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

#AddBtn {
  font-size: 100px;
  color: #31313112;
}
