.card-product {
  border-radius: 5px;
  overflow: hidden;
  min-height: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  background-color: white;
}

.card-product-infos a {
  text-decoration: none;
  color: black;
}

.card-product-infos h2 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.card-product img {
  margin: 12px;
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #435d7e;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  flex-grow: 1;
   padding-left: 15px;
 }

.card-product-alert {
  margin-right: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.card-product-alert p {
  margin: 0;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.card-product-alert h6 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 18px;
  font-family: 'Montserrat', sans-serif;
}

#AddBtn {
  font-size: 100px;
  color: #31313112;
}

#AddBtn:hover {
  color: #5BC0BE;
}

.vehicle-icons {
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 10px;
}

.vehicle-icons .fa-pen {
  margin-right: 22px;
}

.vehicles-container {
  margin: 2em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.vehicles-header {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(28, 37, 65, 0.7) 0%, rgba(80, 169, 167, 0.7) 100%), url("logos/overview_banner3.jpg");
  border-radius: 0px 0px 40px 40px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.vehicles-header h2 {
  color: white;
}

.vehicles-header h3 {
  color: white;
  margin-top: 1em;
}
.vehicles-header p {
  color: white;
  margin-top: -2.5em;
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(28, 37, 65, 0.7) 0%, rgba(80, 169, 167, 0.7) 100%), url("logos/overview_banner.png");
  border-radius: 0px 0px 40px 40px;
  background-size: cover;
  background-position: center;
}

.logo-title h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
}

@media (min-width: 499px) {
.card-container, .plus-card{
 margin: 0 auto;
 width: 480px;
 }
 }
