.carousel-indicators [data-bs-target] {

  border-radius: 50%;
  opacity: 1;
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  top: 0 !important;
  bottom: none;
  margin: 7px;
}

.carousel-indicators {
  bottom: none;
  top: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.carousel-indicators .active {
  background-color: #57B0B0 !important;
}

.carousel-inner {
  position: absolute;

}

.bg1 {
  background: linear-gradient(180deg, rgba(28, 37, 65, 0.7) 0%, rgba(80, 169, 167, 0.7) 100%), url("https://images.unsplash.com/photo-1635073908681-b4dfbd6015e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.bg2 {
  background: linear-gradient(180deg, rgba(28, 37, 65, 0.7) 0%, rgba(80, 169, 167, 0.7) 100%), url("https://images.unsplash.com/photo-1618843479313-40f8afb4b4d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.bg3 {
  background: linear-gradient(180deg, rgba(28, 37, 65, 0.7) 0%, rgba(80, 169, 167, 0.7) 100%), url("https://images.unsplash.com/photo-1624809502663-2ce184a316fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.bg4 {
  background: linear-gradient(180deg, rgba(28, 37, 65, 0.7) 0%, rgba(80, 169, 167, 0.7) 100%), url("https://images.unsplash.com/photo-1621252792374-2b79e3fcf295?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

}

.logo {
  height: 120px;
  width: 240px;
  background-size: cover;
  margin-top: 230px;
  margin-bottom: 80px;
  filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.6));
}

.sub-carousel h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sub-carousel p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 24px;
}

.button a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(29, 29, 29);
}
