.box1{
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 94px;
  height: 102px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.box2{
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 94px;
  height: 102px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.box3{
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 94px;
  height: 102px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
