.box{
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 95px;
  height: 102px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.total-spent {
  width: 170px;
  height: 92px;
  left: 30px;
  top: 781px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 20px;
}

.total-spent h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  margin-top: 18px;
}

.total-spent p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .box, .total-spent{
    width: 17em;
    margin: 1em 0;
  }
}
