.problem_card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
}

.title-price {
  margin: 0;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

}
.title-price h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-price h4 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  margin-top: 3px;
}
.problem_card p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.problem_icons {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  position: relative;
}

.priority {
  position: absolute;
}

.fa-pen {
  color: gray
}

.fa-pen:hover {
  color: black
}

.fa-trash-can {
  color: gray
}

.fa-trash-can:hover {
  color: red
}

.plus-card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 25px 10px;
  padding: 12px 0px;
  border-radius: 10px;
}

.fa-circle-plus {
  font-size: 50px;
  color: #31313112;
  opacity: 1.2;
}

.fa-circle-plus:hover {
  color: rgba(15, 106, 15, 0.651);
}

.fa-circle {
  font-size: 13px;
}
