.small-overview-cards {
  align-items: center;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(137, 134, 134, 0.2);
  width: 100vw;
  border-radius: 5px;
}

.small-overview-cards h2 {
 text-align: center;
 font-size: 22px;
}

.overview-box {
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(137, 134, 134, 0.2);
  margin-top: 20px;
  padding: 10px;
  width: 100vw;
  border-radius: 5px;
}

.overview-box h2 {
  text-align: center;
  font-size: 22px;
}

.overview-box h6 {
  text-align: center;
}

.overview-box ul {
  list-style-type: none;
  text-align: left;
  align-items: left;
  margin-left: 0;
  padding-left: 0;
  margin-top: 22px;
}

.overview-box li {
  border-bottom: 1px solid #E8E8E8;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 400px) {
  .small-overview-cards {
    margin: 0 auto;
    width: 95%;
  }
  .overview-box {
    width: 95%;
    margin: 20px auto;
  }
}
